
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Outfit:wght@100..900&display=swap');


*,::after,::before{
  box-sizing: border-box;
  margin:0;
  padding:0;

}
img{
  display: block;
  max-width: 100%;
  height: auto;
}



body{
  --almost-black:#151515;
  --white:#FFFFFF;
  --gold:#D5966C;
  --dark-grey:#444444;
  --ff-big-shoulders: 'Big Shoulders Display', sans-serif;
  --ff-outfit: 'Outfit', sans-serif;
  --fs-heading:96px;
  --heading-spacing:88px;
  --fs-heading-l:70px;
  --heading-l-spacing:70px;
  --fs-heading-m:60px;
  --heading-m-spacing:50px;
  --fs-heading-s:36px;
  --fs-heading-spaceing:36px;
  --fs-body-m:22px;
  --fs-body-spacing:32px;
  --fs-body-s:18px;
  --fs-body-s-spacing:28px;
  
  font-family: var(--ff-big-shoulders);
  
  
}

